version: '3.4'

services:
    server:
        build: ./server
        expose:
            - ${APP_SERVER_PORT}
        env_file:
            - .env
        ports:
            - ${APP_SERVER_PORT}:${APP_SERVER_PORT}
        volumes:
            - ./server:/svr/chat-app-server/
        command: npm start
    
    client:
        build: ./client
        env_file:
            - .env
        expose:
            - ${NEXT_APP_PORT}
        ports:
            - ${NEXT_APP_PORT}:${NEXT_APP_PORT}
        volumes:
            - ./client/components:/srv/app/client-chat/components
            - ./client/pages:/svr/app/client-chat/pages
            - ./client/public:/svr/app/client-chat/public
            - ./client/styles:/svr/app/client-chat/styles
        links: 
            - server
        command: npm run start:dev
